#statesDiv {
	padding: 30px;
	float: left;
    margin-top: 10%;
}

#topToolbar{
    float:top;
    margin-left:20%;
    margin-top:10px;
}

.btn-primary{
	padding:5px;
	margin: 3px;
}

#slider {
    width: 30%;
}

#canvas {
    text-align: center;
    border: 1px solid black;
    width: 100%;
}
#drawing-board .btn-primary {
    margin: 1px;
    font-size: 10px;
    width: 120px;
}
#drawing-board .glyphicon {
    margin-left: 3px;
}